<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body class="bg-gray-100 text-gray-800 min-h-screen flex flex-col">
    <%- include('partials/navigation.ejs') %>

    <main class="flex-grow container mx-auto p-6">
      <!-- show category Object.keys(categorizedMedia).forEach((category) => as links -->
      <!-- highlight if it matches with filteredCategoryName variable -->
       <!-- align left and make them links -->
      <div class="flex space-x-4 mb-8 shadow-xl p-2">
        <a
          href="/"
          class="px-4 py-2 rounded-lg hover:bg-blue-700 hover:text-white transition
          <%= !filteredCategoryName ? 'bg-blue-700 text-white' : '' %>"
          >All</a
        >
        <% Object.keys(categorizedMedia).forEach((category) => { %>
          <a
            href="/?category=<%= category %>"
            class="px-4 py-2 rounded-lg  hover:bg-blue-700 hover:text-white transition
            <%= filteredCategoryName === category ? 'bg-blue-700 text-white' : '' %>"
            ><%= category %></a
          >
        <% }) %>
      </div>

      <!-- filteredMedia -->
      <% if (filteredMedia.length) { %>
        <section class="mb-12">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
              <% filteredMedia.forEach((media) => { %>
                  <!-- Video Card -->
                  <%- include('partials/video-card.ejs', { media }) %>
              <% }) %>
            </div>
        </section>
      <% } %>

      <!-- Iterate Through Categorized Media -->
      <% !filteredMedia.length && Object.keys(categorizedMedia).forEach((category) => { %>
        <section class="mb-12">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
            <% categorizedMedia[category].forEach((media) => { %>
              <!-- Video Card -->
              <%- include('partials/video-card.ejs', { media }) %>
            <% }) %>
          </div>
        </section>
      <% }) %>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
