<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body class="bg-gray-100 text-gray-800 min-h-screen flex flex-col">
    <%- include('partials/navigation.ejs') %>

    <main class="flex-grow container mx-auto w-4/5 p-6">
      <section class="mx-auto bg-white p-8 rounded-lg shadow-lg">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold mb-6 text-blue-600">
                Media Details
            </h2>
            <a href="/media/<%= media._id %>/edit" class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition">
                Edit Media Info
            </a>
        </div>


        <!-- Media Details -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <h3 class="text-xl font-semibold mb-4">Title</h3>
            <p><%= media.title || "Not Specified" %></p>
          </div>
          <div>
            <h3 class="text-xl font-semibold mb-4">File Name</h3>
            <p><%= media.filename %></p>
          </div>
          <div>
            <h3 class="text-xl font-semibold mb-4">File Size</h3>
            <p><%= (media.filesize / 1000000).toFixed(2) %> MB</p>
          </div>
          <div>
            <h3 class="text-xl font-semibold mb-4">File Type</h3>
            <p><%= media.mimetype %></p>
          </div>
          <div>
            <h3 class="text-xl font-semibold mb-4">Uploaded At</h3>
            <p><%= media.uploadedAt %></p>
          </div>
            <div>
                <h3 class="text-xl font-semibold mb-4">Subtitle Language</h3>
                <p><%= media.subtitleLanguageCode %></p>
            </div>

            <div>
                <h3 class="text-xl font-semibold mb-4">Category</h3>
                <p><%= media.category?.name || "Not Specified" %></p>
            </div>

            <div>
                <h3 class="text-xl font-semibold mb-4">Publish Status</h3>
                <p><%= media.published ? "Published" : "Not Published" %></p>
            </div>

        </div>
      </section>

      <!-- include media-player partials -->
      <%- include('partials/media-player.ejs', { media }) %>

      <!-- Show related video files -->
    <% if (relatedMedia.length > 0) { %>
        <section class="mx-auto bg-white p-8 mt-6 rounded-lg shadow-lg">
            <h2 class="text-3xl font-bold mb-8 text-center text-blue-600">
                Related Videos
            </h2>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <% relatedMedia.forEach((media) => { %>
                <div class="bg-gray-50 border border-gray-200 rounded-lg text-center shadow hover:shadow-lg transition transform hover:-translate-y-1 p-6">
                    <div class="mb-4">
                    <img
                        src="<%= media.thumbnailUrl %>"
                        alt="Thumbnail for <%= media.filename %>"
                        class="w-full h-40 object-cover rounded-lg"
                    />
                    </div>
                    <h3 class="text-xl font-bold mb-2 text-gray-800 truncate">
                    <%= media.filename %>
                    </h3>
                    <p class="text-sm text-gray-600 mb-4">
                    Uploaded at <%= new Date(media.uploadedAt).toLocaleDateString() %>
                    </p>
                    <a
                    href="/media/<%= media._id %>/details"
                    class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition w-full text-center font-semibold"
                    >
                    View Details
                    </a>
                </div>
                <% }) %>
            </div>
            </section>
        <% } %>
    </main>

    <%- include('partials/footer.ejs') %>

    <script>
        // if url has updated=true query param, show success message
        const urlParams = new URLSearchParams(window.location.search);
        const updated = urlParams.get('updated') === 'true';

        if (updated) {
            Toastify({
                text: "Media updated successfully",
                duration: 3000,
                close: true,
                backgroundColor: "linear-gradient(to right, #4caf50, #4caf50)",
            }).showToast();
        }
    </script>
  </body>
</html>
